@model ClientAccountModel




<body style="color: #1a202c; text-align: left; background-color: #e2e8f0;">
    <h2 class="success text-center">Личный кабинет клиента</h2>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card thumbnail">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="~/images/profileImages/@Model.ImagePath" alt="Avatar" style="border-radius: 50%;"
                                     class="rounded-circle" width="150" height="150" />
                                <div class="mt-3">
                                    @if (Model.Surname is null)
                                    {
                                        <h4 style="font-size:24px">---</h4>
                                    }
                                    else
                                    {
                                        <h4 style="font-size:24px">@Model.Surname @Model.FirstName @Model.Patronymic</h4>
                                    }
                                    <form asp-controller="Attendance" asp-action="ShowAttendaices">
                                        <input name="clientId" type="hidden" value="@Model.Id" />
                                        <input class="btn btn-primary" type="submit" value="История посещений">

                                    </form>


                                    <p class="text-secondary mb-1">Всего посещений: @Model.AccountStatistics.VisitsAmount</p>
                                    <p class="text-secondary mb-1">
                                        Средний пульс:
                                        @if (@Model.AccountStatistics.MedianPulse == 0)
                                        {

                                            <span>@Model.AccountStatistics.MedianPulse</span>
                                        }
                                        else if (@Model.AccountStatistics.MedianPulse <= 120)
                                        {
                                            <span style="background-color: #4BB543; font-size:15px;" class="badge bg-success">
                                                @Model.AccountStatistics.MedianPulse
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="background-color: red; font-size: 15px;" class="badge bg-danger">
                                                @Model.AccountStatistics.MedianPulse
                                            </span>
                                        }


                                    </p>
                                    <p class="text-secondary mb-1">
                                        Среднее давление:
                                        @if (@Model.AccountStatistics.MedianHeadPressure >= 110 && @Model.AccountStatistics.MedianHeadPressure <= 130
&& @Model.AccountStatistics.MedianHeartPressure >= 72 && @Model.AccountStatistics.MedianHeartPressure <= 88)
                                        {
                                            <span style="background-color: #4BB543; font-size:15px;" class="badge bg-success">
                                                @Model.AccountStatistics.MedianHeadPressure : @Model.AccountStatistics.MedianHeartPressure
                                            </span>
                                        }
                                        else if (@Model.AccountStatistics.MedianHeadPressure == 0)
                                        {
                                            <span>@Model.AccountStatistics.MedianHeadPressure : @Model.AccountStatistics.MedianHeartPressure</span>
                                        }
                                        else
                                        {
                                            <span style="background-color: red; font-size: 15px;" class="badge bg-danger">
                                                @Model.AccountStatistics.MedianHeadPressure : @Model.AccountStatistics.MedianHeartPressure
                                            </span>
                                        }
                                    </p>
                                    <p class="text-secondary mb-1">
                                        Потрачено
                                        <span>@Model.AccountStatistics.CaloriesSpent </span>
                                        Ккал
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card thumbnail">
                        <ul class="list-group list-group-flush">
                            @foreach (var trainType in Model.TrainTypes)
                            {

                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/@trainType.ImageName" width="40" height="40" />
                                        <span class="">@trainType.Description</span>
                                        <span>@Model.TrainTypesDictionary[trainType.Id]</span>
                                    </span>

                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="card mb-3 thumbnail">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0" style="font-size:16px">Логин</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Login
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 style="font-size:16px" class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Email
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 " style="font-size:16px">Телефон</h6>
                                </div>
                                @if (@Model.MobileNumber is null)
                                {
                                    <div class="col-sm-9 text-secondary">
                                        ---
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-9 text-secondary">
                                        @Model.MobileNumber
                                    </div>
                                }
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 " style="font-size:16px">Дата рождения</h6>
                                </div>
                                @if (@Model.BirthDate is null)
                                {
                                    <div class="col-sm-9 text-secondary">
                                        ---
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-9 text-secondary">
                                        @{
                                            var birthDate = (DateTime)Model.BirthDate;
                                        }
                                        @birthDate.ToString("MM/dd/yyyy")
                                    </div>
                                }
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 " style="font-size:16px">Абонемент</h6>
                                </div>
                                @if (!Model.Abonement.IsValid)
                                {
                                    <div class="col-sm-9 text-secondary">
                                        <div class="text-danger">
                                            <span class="badge-inValid">Недействителен</span>
                                            <form asp-controller="Abonement" asp-action="Index">
                                                <input type="hidden"
                                                       value="@Model.Id" name="clientId" />
                                                <input class="btn btn-success btn-sm" type="submit" value="Приобрести" />
                                            </form>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-9 text-secondary">
                                        <span class="badge-valid">Действителен до @Model.Abonement.FinishDate.ToString("MM/dd/yyyy")</span>
                                    </div>
                                }

                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12" style="text-align:center; margin-top:6px">
                                    <a class="btn btn-info" asp-controller="Account" asp-action="EditClientCredentials">Редактировать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.AccountStatistics.ClientAttendances.Count > 4)
                    {
                        <div class="col-sm-12 col-md-12 mb-2">
                            <div class="row card thumbnail">
                                <div id="chart"></div>
                                <div class="row" style="align-content:center;">
    
                                    <div class="col-sm-1" style="align-content:center;">
                                        <button class="btn btn-info butstyle" id="pulse">Пульс</button>
                                    </div>
                                    <div class="col-sm-1"   style="align-content:center;">
                                        <button class="btn btn-info butstyle" id="weight">Вес</button>
                                    </div>
                                    <div class="col-sm-3"  style="align-content:center;">
                                        <button class="btn btn-info butstyle" id="headPresure">Головное давление</button>
                                    </div>
                                    <div class="col-sm-3"  style="align-content:center;">
                                        <button class="btn btn-info butstyle" id="heartPresure">Сердечное давление</button>
                                    </div>
                                    <div class="col-sm-3 "  style="align-content:center;">
                                        <button class="btn btn-info butstyle" id="all">Показатели здоровья</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row card thumbnail">
                                <div id="pie_chart"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    .butstyle {
        font-size: 11px;
        height: 26px;
        width:auto;
        align-content: center;
        padding: 1px 5px;
    }

</style>

@section Scripts
{
    @if (Model.AccountStatistics.ClientAttendances.Count > 4)
    {

        <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawLinePulseChart);
            google.charts.setOnLoadCallback(drawPieChart);
            google.charts.setOnLoadCallback(drawLineHeadPressureChart);
            google.charts.setOnLoadCallback(drawLineHeartPressureChart);
            google.charts.setOnLoadCallback(drawLineWeightChart);
            google.charts.setOnLoadCallback(drawLineAllChart);

            var pieChartData;
            var pieChartOptions;
            var pieChart;
            function drawPieChart() {
                var jsonData = $.ajax({
                    url: "/Account/PieChartData/",
                    dataType: "json",
                    async: false
                }).responseText;
                pieChartData = new google.visualization.DataTable(jsonData);
                pieChartOptions = {

                    title: 'Диаграмма упражнений',
                    'height': 300,
                    'chartArea': { 'top': '28', 'width': '80%', 'height': '80%' },
                };
                pieChart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                pieChart.draw(pieChartData, pieChartOptions);
            }


            var linePulseChartData;
            var linePulseChartOptions;
            var linePulseChart;
            function drawLinePulseChart() {
                var jsonData = $.ajax({
                    url: "/Account/LinePulseChartData/",
                    dataType: "json",
                    async: false
                }).responseText;
                linePulseChartData = new google.visualization.DataTable(jsonData);
                linePulseChartOptions = {
                    title: 'Динамика пульса',
                    curveType: 'function',
                    legend: { position: 'bottom' },

                    'chartArea': { 'top': '28', 'width': '80%', 'height': '80%' },
                    'height': 300
                };
            }


            var lineHeadPressureChartData;
            var lineHeadPressureChartOptions;
            var lineHeadPressureChart;
            function drawLineHeadPressureChart() {
                var jsonData = $.ajax({
                    url: "/Account/LineHeadPressureChartData/",
                    dataType: "json",
                    async: false
                }).responseText;
                lineHeadPressureChartData = new google.visualization.DataTable(jsonData);
                lineHeadPressureChartOptions = {
                    title: 'Динамика головного давления',
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    'chartArea': { 'top': '28', 'width': '80%', 'height': '80%' },
                    'height': 300
                };

            }

            var lineHeartPressureChartData;
            var lineHeartPressureChartOptions;
            var lineHeartPressureChart;
            function drawLineHeartPressureChart() {
                var jsonData = $.ajax({
                    url: "/Account/LineHeartPressureChartData/",
                    dataType: "json",
                    async: false
                }).responseText;
                lineHeartPressureChartData = new google.visualization.DataTable(jsonData);
                lineHeartPressureChartOptions = {
                    title: 'Динамика сердечного давления',
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    'chartArea': { 'top': '28', 'width': '80%', 'height': '80%' },
                    'height': 300
                };

            }


            var lineWeightChartData;
            var lineWeightChartOptions;
            var lineWeightChart;
            function drawLineWeightChart() {
                var jsonData = $.ajax({
                    url: "/Account/LineWeightChartData/",
                    dataType: "json",
                    async: false
                }).responseText;
                lineWeightChartData = new google.visualization.DataTable(jsonData);
                lineWeightChartOptions = {
                    title: 'Динамика веса',
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    'chartArea': { 'top': '28', 'width': '80%', 'height': '80%' },
                    'height': 300
                };

            }


            var lineAllChartData;
            var lineAllChartOptions;
            var lineAllChart;
            function drawLineAllChart() {
                var jsonData = $.ajax({
                    url: "/Account/LineAllChartData/",
                    dataType: "json",
                    async: false
                }).responseText;
                lineAllChartData = new google.visualization.DataTable(jsonData);
                lineAllChartOptions = {
                    title: 'Показатели здоровья',
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    'chartArea': { 'top': '28', 'width': '80%', 'height': '80%' },
                    'height': 300
                };

            }


            document.getElementById('headPresure').onclick = function () {
                lineHeadPressureChart = new google.visualization.LineChart(document.getElementById('chart'));
                lineHeadPressureChart.draw(lineHeadPressureChartData, lineHeadPressureChartOptions);
            };
            document.getElementById('pulse').onclick = function () {
                linePulseChart = new google.visualization.LineChart(document.getElementById('chart'));
                linePulseChart.draw(linePulseChartData, linePulseChartOptions);
            };
            document.getElementById('heartPresure').onclick = function () {
                lineHeartPressureChart = new google.visualization.LineChart(document.getElementById('chart'));
                lineHeartPressureChart.draw(lineHeartPressureChartData, lineHeartPressureChartOptions);
            };
            document.getElementById('weight').onclick = function () {
                lineWeightChart = new google.visualization.LineChart(document.getElementById('chart'));
                lineWeightChart.draw(lineWeightChartData, lineWeightChartOptions);
            };
            document.getElementById('all').onclick = function () {
                lineAllChart = new google.visualization.LineChart(document.getElementById('chart'));
                lineAllChart.draw(lineAllChartData, lineAllChartOptions);
            };


        </script>
    }
}
