@model List<ClientAccountModel>

@if (Model.Count() == 0)
{
    <h1 style="text-align:center;">По данному запросу никто не найден</h1>
}
else
{
    <h2 style="text-align:center;">Поиск</h2>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="row space-16">&nbsp;</div>
            <div class="row">
                @foreach (var client in Model)
                {
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <div class="caption text-center">
                                <div class="position-relative">
                                    <img src="~/images/profileImages/@client.ImagePath" alt="Admin"
                                         class="rounded-circle" style="width:144px;height:144px;border-radius: 50%;" />
                                </div>

                                <div class="thumbnail-description smaller">

                                    @client.Surname  @client.FirstName?[0]  @client.Patronymic?[0]
                                </div>
                                <div class="thumbnail-description smaller">
                                    Моб. телефон: @client.MobileNumber
                                </div>
                                @if (@client.IsValid)
                                {
                                    <div class="thumbnail-description smaller">
                                        Абонемент действителен
                                    </div>
                                }
                                else
                                {
                                    <div class="thumbnail-description smaller">
                                        Абонемент недействителен
                                    </div>
                                }

                                <form class="form-inline my-2" asp-controller="Attendance" asp-action="Index">
                                    <input type="hidden" value=@client.Id name="clientId" />
                                    <input class="form-control mr-sm-2" type="hidden" />
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Отметить</button>
                                </form>
                            </div>

                        </div>
                    </div>
                }
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
    </div>

}